<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|DM+Serif+Display&display=swap">
	<link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div class="logo__nav">
				<div class="logo">
					<a href="index.html">
						Tainix
					</a>
				</div>
				<nav>
					<ul>
						<li>
							<a href="#">Je code</a>
							<ul class="sub_menu">
								<li class="title">
									Challende de code
								</li>
								<li>
									<a href="challenges.html">Tous les challenges</a>
								</li>
								<li>
									<a href="#">C'est quoi un challenge de code ?</a>
								</li>
								<li>
									<a href="#">Comment coder un challenge ?</a>
								</li>
								<li class="title">
									Par difficulté
								</li>
								<li>
									<a href="#">Starter</a>
								</li>
								<li>
									<a href="#">Débutant</a>
								</li>
								<li>
									<a href="#">Intermédiaire</a>
								</li>
								<li>
									<a href="#">Avancé</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">J'apprends</a>
							<ul class="sub_menu">
								<li class="title">
									Article Technique
								</li>
								<li>
									<a href="#">Tous nos articles (PHP, JS)</a>
								</li>
								<li>
									<a href="#">Veille</a>
								</li>
								<li class="title">
									Corrigés des challenges
								</li>
								<li>
									<a href="#">Tous nos corrigés (PHP, JS)</a>
								</li>
								<li>
									<a href="#">Proposer un corrigé</a>
								</li>
								<li class="title">
									Formations partenaires
								</li>
								<li>
									<a href="#">Toutes les formations</a>
								</li>
								<li class="title">
									Carrières et orientations
								</li>
								<li>
									<a href="#">Tous nos conseils</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Pour les pros</a>
							<ul class="sub_menu">
								<li class="title">
									Tainix pour les pros
								</li>
								<li>
									<a href="#">Ecoles</a>
								</li>
								<li>
									<a href="#">Formateurs & Formatrices</a>
								</li>
								<li>
									<a href="#">Entreprises</a>
								</li>
							</ul>
						</li>
					</ul>	
				</nav>
			</div>	
			<div class="search_account">
				<a href="#" class="search"><span class="icon-magnifier"></span></a>
				<a href="profil.html" class="btn"><span class="icon-user"></span> Mon compte</a>
			</div>
			<a href="#" id="hbg">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>			
	</header>
	<main>
		<section id="hero"></section>
		<div class="triangle"></div>
		<section id="quests">
			<div class="container">
				<aside class="profil">
					<div class="photo__name">
						<figure>
							<img src="https://tainix.fr/img/user_default_profile_pic.svg?1722934231" alt="">
						</figure>
						<div class="name">
							<h2 class="h3">
								NicolasF
							</h2>
							<p>151 xp</p>
						</div>
					</div>
					<nav>
						<a href="#"><span class="icon-success small"></span> Succès</a>
						<a href="#"><span class="icon-code small black"></span> Challenges</a>
						<a href="#"><span class="icon-group"></span> Communauté</a>
						<a href="#"><span class="icon-user black"></span> Mes informations</a>
					</nav>
				</aside>
				<div class="form">
					<h1 class="h2">Editer mes informations</h1>
					<form action="">
						<div class="group">
							<label for="peudo">Pseudo</label>
							<input type="text" name="user_nicename">
						</div>
						<div class="group">
							<label for="email">Adresse e-mail</label>
							<input type="email" name="user_email">
						</div>
						<div class="group">
							<label for="prénom">Prénom</label>
							<input type="text" name="user_firstname">
						</div>
						<div class="group">
							<label for="nom">Nom</label>
							<input type="text" name="user_lastname">
						</div>
						<div class="group">
							<label for="peudo">Je vis dans la belle ville de</label>
							<input type="text" name="_town">
						</div>
						<div class="group"></div>
						<div class="group">
							<label for="peudo">Je préfère le</label>
							<select name="_code">
								<option value="PHP">PHP</option>
								<option value="JS">Javascript</option>
								<option value="Python">Python</option>
							</select>
						</div>
						<div class="group">
							<label for="peudo">Je pratique le code depuis</label>
							<select name="_xp">
								<option value="debutant">Moins d'un an</option>
								<option value="intermediaire">1 ou 2 ans</option>
								<option value="expert">3 à 5 ans</option>
								<option value="master">+ 5 ans</option>
							</select>
						</div>
						<div class="group">
							<label for="peudo">Je suis</label>
							<select name="_status">
								<option value="student">Etudiant.e</option>
								<option value="teacher">Formateur.trice</option>
								<option value="dev">Développeur.euse</option>
							</select>
						</div>
					</form>
				</div>
			</div>
	
		</section>
	</main>
	<footer>
		<div class="container newsletter">
			<div class="content">
				<h2 class="h2">Ta newsletter <span>chaque mois</span></h2>
				<p>Corrigés, challenges, actualités, veille technique... aucun spam.</p>
			</div>
			<div class="form">
				<form action="POST">
					<input type="text" placeholder="Ton meulleur @">
				</form>
			</div>
		</div>
		<nav class="container">
			<div class="logo">
				<p>Tainix pour les Pros</p>
				<a href="#">Challenge de code ?</a>
			</div>
			<div class="devs">
				<p>Tainix pour les devs</p>
				<a href="#">Challenge de code ?</a>
				<a href="#">Les derniers challenges</a>
				<a href="#">Coder un challenge</a>
				<a href="#">Les corriges ?</a>
				<a href="#">PHP</a>
				<a href="#">JavaScript</a>
				<a href="#">Python</a>
				<a href="#">Web dev</a>

			</div>
			<div class="pros">
				<p>Tainix pour les Pros</p>
				<a href="#">Challenge de code ?</a>
				<a href="#">Les derniers challenges</a>
				<a href="#">Coder un challenge</a>
				<a href="#">Les corriges ?</a>

			</div>
			<div class="about">
				<p>A propos</p>
				<a href="manifeste.html">Manifeste</a>
				<a href="#">A propos</a>
				<a href="#">Nous suivre</a>
				<a href="contact.html">Contact</a>
			</div>
		</nav>
		<div class="legal_social container">
			<div class="legal">
				<a href=""> © 2024 Tainix</a> <a href="">Contact</a> <a href="">Mentions légales</a> <a href="">Politique de confidentialité</a>
			</div>
			<div class="social">
				<a href="" aria-label="github">
					<span class="icon-github"></span>
				</a>
				<a href="" aria-label="Linkedin">
					<span class="icon-linkedin"></span> 
				</a>
				<a href="" aria-label="Youtube">
					<span class="icon-yt"></span> 
				</a>
			</div>
		</div>
	</footer>	
	<script async type="module">
		import * as main from './assets/js/main.js'
		main.default()
		main.wordsTyping('#hero h1 span',['progresser',`t'amuser`,'te former','te détendre','te challenger'],80)


	</script>
</body>
</html>